In [1]:
import pandas as pd

In [2]:
v2 = pd.read_csv('NC_000913_2.gff', sep='\t', header=None)

v2.head()

,0,1,2,3,4,5,6,7,8
0,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,190,255,.,+,.,locus_tag b0001;name thrL;product thr_operon_l...
1,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,337,2799,.,+,.,locus_tag b0002;gene thrA;product aspartate_ki...
2,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,2801,3733,.,+,.,locus_tag b0003;gene thrB;product homoserine_k...
3,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,3734,5020,.,+,.,locus_tag b0004;gene thrC;product threonine_sy...
4,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,5234,5530,.,+,.,locus_tag b0005;gene yaaX;product predicted_pr...

# NC000913.3

In [10]:
v3 = pd.read_csv('./unformatted/sequence.gff3', sep='\t', header=None)
v3 = v3[v3[2] == 'CDS']

#NEED TO CHANGE AFTER GENOME - chromosome to v2
chromosome = 'gi|49175990|ref|NC_000913.2|'
v3[0] = chromosome

#format info column 8
#split
all_info = v3[8].str.split(';',expand=True).replace('=',' ', regex=True)
all_info[7] = all_info[7].replace(' ','_', regex=True).replace('product_','product ', regex=True)

#filter desired info
cols = [5,6,7]
desired_info = all_info[cols].apply(lambda row: ';'.join(row.values.astype(str)), axis=1)
v3[8] = desired_info

v3.to_csv('NC_000913_3.gff', sep='\t', header=None, index=None)

v3.head()

,0,1,2,3,4,5,6,7,8
2,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,190,255,.,+,0,gene thrL;locus_tag b0001;product thr_operon_l...
4,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,337,2799,.,+,0,gene thrA;locus_tag b0002;product fused_aspart...
6,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,2801,3733,.,+,0,gene thrB;locus_tag b0003;product homoserine_k...
8,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,3734,5020,.,+,0,gene thrC;locus_tag b0004;product threonine_sy...
10,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,5234,5530,.,+,0,gene yaaX;locus_tag b0005;product DUF2502_doma...

# Bitome TFBS

In [38]:
tfbs = pd.read_csv('./unformatted/tfbs.csv', index_col=0).drop_duplicates()
tfbs = tfbs.dropna(subset=['tf'])
tfbs.insert(0, 'chromosome', chromosome)

tfbs = tfbs[['chromosome','left', 'right', 'tf']]
tfbs.insert(1, 'Source', '')
tfbs.insert(2, 2, 'binding_site')
tfbs.insert(5, 5, '')
tfbs.insert(6, 6, '')
tfbs.insert(7, 7, '')
tfbs['tf'] = "TF " + tfbs['tf'].astype(str)

tfbs.to_csv('bitome_tfbs.gff', sep='\t', header=None, index=None)

tfbs.head()

,chromosome,Source,2,left,right,5,6,7,tf
0,gi|49175990|ref|NC_000913.2|,,binding_site,612650,612668,,,,TF Fur
2,gi|49175990|ref|NC_000913.2|,,binding_site,4516744,4516762,,,,TF Fur
3,gi|49175990|ref|NC_000913.2|,,binding_site,1619005,1619019,,,,TF Fis
4,gi|49175990|ref|NC_000913.2|,,binding_site,3305958,3305975,,,,TF TyrR
5,gi|49175990|ref|NC_000913.2|,,binding_site,1386588,1386605,,,,TF TyrR

# Bitome TSS

In [50]:
tss = pd.read_csv('./unformatted/tss.csv', index_col=0).drop_duplicates()
tss = tss.dropna(subset=['tss', 'name'])
tss.insert(0, 'chromosome', chromosome)

tss = tss[['chromosome','tss', 'tss', 'name']]
tss.insert(1, 'Source', '')
tss.insert(2, 2, 'start_site')
tss.insert(5, 5, '')
tss.insert(6, 6, '')
tss.insert(7, 7, '')
tss['name'] = "gene " + tss['name'].astype(str)

tss.to_csv('bitome_tss.gff', sep='\t', header=None, index=None)

tss.head()

,chromosome,Source,2,tss,tss,5,6,7,name
0,gi|49175990|ref|NC_000913.2|,,start_site,2976569.0,2976569.0,,,,gene galRp
1,gi|49175990|ref|NC_000913.2|,,start_site,1116709.0,1116709.0,,,,gene lpxLp
2,gi|49175990|ref|NC_000913.2|,,start_site,1116772.0,1116772.0,,,,gene yceAp
3,gi|49175990|ref|NC_000913.2|,,start_site,89596.0,89596.0,,,,gene mraZp
4,gi|49175990|ref|NC_000913.2|,,start_site,1329284.0,1329284.0,,,,gene sohBp1